@import './table.scss';
@import './form.scss';
@import './vuepress.scss';

.ins-form {
  * {
    padding: 0;
    margin: 0;
  }
}

.line-number {
  line-height: var(--code-line-height) !important;
  font-size: var(--code-font-size) !important;
}
